<div>
  <mat-toolbar color="primary">
    <span>PC Health Center</span>
  </mat-toolbar>
  <div class="button-row">
    <label class="label">Selection Criteria:</label>
    <input type="text" value="yesterday" />
    <button color="secondary" (click)="fetchData()">View Data</button>
  </div>
  <div *ngIf="showChart">
    <div class="push">
      <mat-card class="chart-card">
        <mat-card-subtitle>User Scores</mat-card-subtitle>
        <mat-card-content>
          <app-chart
            [workLoadRankings]="yesterdayGrp$"
            [userList]="usersYesterday$"
          ></app-chart>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="push">
      <mat-card>
        <mat-card-subtitle>Workload Rankings</mat-card-subtitle>
        <mat-card-content>
          <app-table
            [workLoadRankings]="yesterdayGrp$"
            [userList]="usersYesterday$"
          ></app-table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
