.push {
  padding: 5px;
}
.chart-card {
  padding: 25px 5px;
  min-height: 250px;
}
.button-row {
  display: flex;
  flex-flow: row;
  flex: 1 0 auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.label {
  padding: 0px 5px;
}
